{% extends "entities/detail_views/entity_detail_generic.html" %}
{% load webpage_extras %}
{% block titel %} {{ object.id }} {% endblock %}


    {% block info-table %}
        <table class="table table-bordered table-hover">
        <tr>
            <th>
                Typ
            </th>
            <td>
                {% if object.kind.parent_class %}
                    {{ object.kind.parent_class }} >> {{ object.kind }}
                {% else %}
                    {{ object.kind }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                Vermögen
            </th>
            <td>
                <table class="table table-bordered">
                    {% if object.barschaft %}
                        <tr>
                            <th>
                                Baarschaft (teilweise eigene Berechnung)
                            </th>
                            <td>
                                {{ object.barschaft}}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.vor_passiva_fl %}
                        <tr>
                            <th>
                                vor Abzug Passiva
                            </th>
                            <td>
                                {{ object.vor_passiva_fl }}fl. {{ object.vor_passiva_kr }}kr.
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.nach_passiva_fl %}
                        <tr>
                            <th>
                                nach Abzug Passiva
                            </th>
                            <td>
                                {{ object.nach_passiva_fl }}fl. {{ object.nach_passiva_kr }}kr.
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.invenatar_summe_norm_fl %}
                        <tr>
                            <th>
                                Summe Inventar
                            </th>
                            <td>
                                {{ object.invenatar_summe_norm_fl }}fl. {{ object.invenatar_summe_norm_kr }}kr.
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
        <tr>
            <th>
                Bücher
            </th>
            <td>
                {{ object.buecher }}
            </td>
        </tr>

        {% if object.start_date or object.end_date %}
        <tr>
            <th>
                Bearbeitungsdauer
            </th>
            <td>
                {% if object.start_date %}
                    <abbr title="{{ object.start_date_written }}">{{ object.start_date }}</abbr>
                {% endif %}
                {% if object.end_date %}
                    - <abbr title="{{ object.end_date_written }}">{{ object.end_date }}</abbr>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if object.profession.all %}
        <tr>
            <th>
                Professions
            </th>
            <td>
              {% for prof in object.profession.all %}
                {{ prof.name }}{% if forloop.last %}{% else %},{% endif %}
              {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if object.uri_set %}
        <tr>
          <th>
            URIs
          </th>
          <td>
            {% for uri in object.uri_set.all %}<a href="{{uri.uri}}">{{uri.uri}}</a>
              {% if forloop.last %}{% else %},{% endif %}
            {% endfor %}
          </td>
          {% endif %}
    </table>
    {% endblock info-table %}
    {% block left-pane-additional %}
        <legend>
            Kommentare
        </legend>
        <table class="table table-bordered table-hover">
            {% if object.comment_a %}
                <tr>
                    <th>
                        Anmerkung zu Spalte A
                    </th>
                    <td>
                        {{ object.comment_a }}
                    </td>
                </tr>
            {% endif %}
            {% if object.comment_b %}
                <tr>
                    <th>
                        Anmerkung zu Spalte B
                    </th>
                    <td>
                        {{ object.comment_b }}
                    </td>
                </tr>
            {% endif %}
            {% if object.comment_k %}
                <tr>
                    <th>
                        Anmerkung zu Spalte K
                    </th>
                    <td>
                        {{ object.comment_k }}
                    </td>
                </tr>
            {% endif %}
        </table>
    {% endblock left-pane-additional %}
    {% block right-panel-text %}
        {{ block.super }}
    {% endblock right-panel-text %}
    {% block custom_extras %}
    <div class="container">
        <h2 style="text-align: center;">original Daten</h2>
        {{ object.excel_row|safe }}
    </div>
    {% endblock %}
