{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}
{% block titel %} Analysen {% endblock %}
{% block scriptHeader %}
{{ block.super }}
<style>
  html {margin: 0; padding: 0}
</style>
{% endblock scriptHeader %}
{% block content %}
    <h1>Analysen</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="row-heading pb-2 mb-3 border-bottom"></i> Verhältnis: Einträge - Personen </h3>
            </div>
            <div class="col-md-4  text-center">
                <div class="card flex-md-row mb-4 box-shadow">
                    <div class="card-body">
                        <h4 class="mb-0">Durschnitt der pro Eintrag erwähnten Personen</h4>
                        <p>
                            {{ mean }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  text-center">
                <div class="card flex-md-row mb-4 box-shadow">
                    <div class="card-body">
                        <h4 class="mb-0">Höchste Zahl erwähnter Personen</h4>
                        <p>
                            {{ max }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  text-center">
                <div class="card flex-md-row mb-4 box-shadow">
                    <div class="card-body">
                        <h4 class="mb-0">Niedrigste Zahl erwähnter Personen</h4>
                        <p>
                            {{ min }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <table class='table'>
            <tr>
                <th>
                    Anzahl der erwähnten Personen
                </th>
                <th>
                    Anzahl der Einträge
                </th>
            </tr>
            {% for row in rows %}
                <tr>
                    {% for x in row %}
                        <td>
                            {{ x }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
{% block scripts %}
{% endblock scripts %}
