{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}
{% block titel %} Analysen {% endblock %}
{% block scriptHeader %}

{{ block.super }}
<style>
  html {margin: 0; padding: 0}
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display : none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>

<link rel="stylesheet" type="text/css" href="{% static 'webpage/libraries/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'webpage/libraries/bower_components/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'webpage/libraries/bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}"/>

<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/pdfmake/build/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/pdfmake/build/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/jszip/dist/jszip.min.js' %}"></script>

<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.min.js' %}"></script>

{% endblock scriptHeader %}
{% block content %}
    <h1>Analysen</h1>

    <div id="selectRelations">
        <h2>select Relation Type</h2>
        <button type="button" class="btn btn-default" onclick='loadTable("{% url 'analyze:get_data' %}")'>Person Work</button>
        <button type="button" class="btn btn-default" onclick='loadTable("{% url 'analyze:get_data_orig' %}")'>Original Data</button>

    </div>

        <div class="loader"></div>
        <div id="tableDiv"></div>

{% endblock %}
{% block scripts %}

<script>
function loadTable(value) {
    console.log(value);
    $('.loader').show()
    $.ajax({
            "url": value,
            "success": function(json) {
                var tableHeaders;
                $.each(json.columns, function(i, val){
                    tableHeaders += "<th>" + val + "</th>";
                });

                $("#tableDiv").empty();
                $("#tableDiv").append('<table id="displayTable" class="table" cellspacing="0" width="100%"><thead><tr>' + tableHeaders + '</tr></thead></table>');
                $('.table').DataTable({
                    "data": json.data,
                    "initComplete": function( settings, json ) {
                        $('.loader').remove();
                    },
                    "deferRender": true,
                    "paging":   true,
                    responsive: true,
                    dom: 'Bfrtip',
                    buttons: [
                        'excel', 'columnsToggle'
                    ]
                });
                $('#selectRelations').remove();
            },
            "dataType": "json"
        });
}
</script>
{% endblock scripts %}
