{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}
{% block titel %} Analysen {% endblock %}
{% block scriptHeader %}

{{ block.super }}
<style>
  html {margin: 0; padding: 0}
</style>

<link rel="stylesheet" type="text/css" href="{% static 'webpage/libraries/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'webpage/libraries/bower_components/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'webpage/libraries/bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}"/>

<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/pdfmake/build/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/pdfmake/build/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/jszip/dist/jszip.min.js' %}"></script>

<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webpage/libraries/bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.min.js' %}"></script>

{% endblock scriptHeader %}
{% block content %}
    <h1>Analysen</h1>

    <div class="container">

        <h3>Personen Werke Verbindungen</h3>
        {{ PersonWork_table|safe }}

    </div>
{% endblock %}
{% block scripts %}

    <script>
        $(document).ready(function() {
            $('<div class="loading">Loading</div>').appendTo('body');
            $('.table').DataTable({
                "initComplete": function( settings, json ) {
                    $('div.loading').remove();
                },
                "paging":   true,
                responsive: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf', 'columnsToggle'
                ]
            });
        } );
    </script>
{% endblock scripts %}
