{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}
{% block titel %} Analysen {% endblock %}
{% block scriptHeader %}
{{ block.super }}
<style>
  html {margin: 0; padding: 0}
</style>
{% endblock scriptHeader %}
{% block content %}
    <h1>Auswahl</h1>
    <div class="container">
        <table class='table'>
            <tr>
                <th>
                    Verfachbuch
                </th>
                <th>
                    Datum
                </th>
            </tr>
            {% for x in works %}
                <tr>
                    <td>
                        <a href="{{ x.get_absolute_url }}">{{ x.name }}</a>
                    </td>
                    <td>
                        {{ x.start_date }}
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
{% block scripts %}
{% endblock scripts %}
