<div class="btn-group open">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
    Download <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a class="dropdown-item" href="/browsing/download/?" title="Download the currently selected editions as csv file"><b>CSV</b></a></li>
      <li><a class="dropdown-item" href="/browsing/rdf/?format=n3&amp;?" title="Download the currently selected editions as n3 rdf file"><b>N3</b></a></li>
      <li><a class="dropdown-item" href="/browsing/rdf/?format=pretty-xml&amp;?" title="Download the currently selected editions as rdf/xml file"><b>RDF/XML</b></a></li>
    </ul>
</div>
